#nextmove{position:absolute;}

#nextmovee{position:absolute;}
body {
  background-image: url(https://media.gq.com/photos/581799e0a6fe84375dbe8d86/16:9/w_2560%2Cc_limit/Cheese%2525201.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
